@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--brand-primary: #000000;
	--brand-secondary: #666666;
}

@layer base {
	body {
		@apply bg-gray-50 text-gray-900;
	}
}
