[Unit]
Description=Oilyourhair App
After=network.target

[Service]
Environment=NODE_ENV=production
WorkingDirectory=/opt/app
ExecStart=/usr/bin/node --max-old-space-size=512 --optimize-for-size /opt/app/app.js
StandardOutput=append:/var/log/app.log
StandardError=append:/var/log/app.log
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=oilyourhair-app
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
